/* body{
    background-color: aquamarine;
} */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
 

.navbar{
    height: 5rem;
    background-color: white;
 }
 .container {
    flex: 1;
}

 .fa-solid{
    color: #FF385C;
    font-size: 2rem;
 }
 .nav-link{
    color:#222222 !important ;
 }
 .f-info-links a{
    text-decoration: none;
    color: #222222;
 }
 .f-info-links a:hover{
    text-decoration: underline;
 }
 .f-info-links{
    width: 100%;
 }
 .f-info-socials{
    width: 100%;
 }
 .f-info{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    flex-wrap: wrap;
    background-color: #ebebeb;
    
 }