/* body{
    background-color: aquamarine;
} */
html, body {
    height: 100%;
    margin: 0;
}

body {
       min-height: 100vh;
         font-family: "Plus Jakarta Sans", sans-serif !important;
         display: flex;
         flex-direction: column;
}
 .container{
   flex: 1;
 }

.navbar{
    height: 5rem;
    background-color: white;
 }
 .container {
    flex: 1;
}

 .fa-solid{
    color: #FF385C;
    font-size: 2rem;
 }
 .nav-link{
    color:#222222 !important ;
 }
 .f-info-links a{
    text-decoration: none;
    color: #222222;
 }
 .f-info-links a:hover{
    text-decoration: underline;
 }
 .f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
 }

 .f-info-socials i{
     font-size: 1.2rem;
        margin-right: 1rem;
 }
 .f-info{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    flex-wrap: wrap;
    background-color: #ebebeb;
    text-align: center;
    
 }

 .card{
    border: none !important;
    margin-bottom: 2rem;
 }
 .card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
 }
 .card-body{
    padding: 0 !important;
 }
 .card-text p{
    font-weight: 400 !important;
 }
 .listing-link{
    text-decoration: none;
 }

 .card-img-overlay{
opacity: 0;
 }
 .card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;

 }
 .btn-add{
   background-color: FF385C;
   border: none;
 }