/* body{
    background-color: aquamarine;
} */
html, body {
    height: 100%;
    margin: 0;
}

body {
       min-height: 100vh;
         font-family: "Plus Jakarta Sans", sans-serif !important;
         display: flex;
         flex-direction: column;
}
 /* .container{
   flex: 1;
 } */

.navbar{
    height: 5rem;
    background-color: white;
 }
 .container {
    flex: 1;
}

 .fa-solid{
    color: #FF385C;
    font-size: 2rem;
 }
 .nav-link{
    color:#222222 !important ;
 }
  .card{
    border: none !important;
    margin-bottom: 2rem;
 }
 .card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
 }
 .card-body{
    padding: 0 !important;
 }
 .card-text p{
    font-weight: 400 !important;
 }
 .listing-link{
    text-decoration: none;
 }

 .card-img-overlay{
opacity: 0;
 }
 .card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;

 }
 .btn-add{
   background-color: #FF385C !important;
   border: none !important;
 }
 .f-info-links a{
    text-decoration: none;
    color: #222222;
 }
 .f-info-links a:hover{
    text-decoration: underline;
 }
 .f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
 }

 .f-info-socials i{
     font-size: 1.2rem;
        margin-right: 1rem;
 }
footer {
    margin-top: auto;
}

 .f-info{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    flex-wrap: wrap;
    background-color: #ebebeb;
    text-align: center;

 }
 .position{
   position: absolute;
   bottom: 0px;
 }

 .show-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;  /* adds space from navbar and top */
}
.show-card {
  width: 60vw;
  height: 60vh;  
  max-width: 1100px;
  border-radius: 1.2rem;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
}
.show-page h3 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
}
@media (max-width: 768px) {
  .show-card {
    width: 90vw;
    height: auto;  
  }
}

.show-actions {
  display: flex;       
  gap: 1rem;           
  margin-top: auto;    
  justify-content: flex-start; 
  flex-wrap: wrap;     
}

.show-actions form {
  margin: 0;            
}
.show-actions {
  justify-content: center;
}
 .show-img{
   height: 50vh;
   width: 50vw;
 }
.black{
   color: #222222;
}
